<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<ul>
  <li><%= link_to "Tous les tournois", tournaments_path  %></li>
  <li><%= link_to "Toutes les équipes", teams_path  %></li>
</ul>
